doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plantilla Pug 
    body 
        h1(style={color:'blue'})=title
        div(style={display: 'inline'})
            p(style={display: 'inline', margin: '0.3rem'})=min 
            meter(min=min max=max value=level)
            p(style={display: 'inline', margin: '0.3rem'})=max